.details {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1em;
    padding: 1rem;
    /* justify-content: space-between; */
}
.poster, .general-info, .desc {
    border-radius: 30px;
}

.poster {
    min-height: 30%;
    /* max-height: 100%; */
    /* height: auto; */
}

.desc {
    margin: 1rem;
    padding: 1rem;
}

.container {
    filter: blur(5px) grayscale(50%); 
    background-color: #000000;
    background-position: center;
    background-size: contain;
}

.general-info, .desc {
    background-color: #1a1a1a;
}

legend {
    font-size: 1.5rem;
} 

.main-content {
    padding: 0;
}