.details {
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    gap: 1em;
    margin: 2em 5em;
    grid-template-areas:
    "poster info"
    "desc desc";
    justify-items: center;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s ease-in-out backwards;
}

.poster, .general-info, .desc {
    border-radius: 30px;
}

.poster, .general-info {
    max-height: 800px;
    min-width: 250px;
    min-height: 500px;
}

.general-info > fieldset {
    grid-template-columns: repeat(auto-fit, minmax(30px, 100px));
    margin-top: 10px;
    overflow: auto;
    display: grid;
    padding: 5px;
    gap: 0.2em;
}

.general-info, .desc {
    background-color: #1a1a1a;
    overflow: scroll;
    padding: 25px;
}

.movie-title , .movie-subtitle {
    text-align: center;
}

.movie-title , .desc h4 {
    font-size: 1.5rem;
}

legend, .movie-subtitle {
    font-size: 1.25rem;
} 

fieldset > img {
    width: 80%;
}

.poster {
    grid-area: poster;
    width: 100%;
    height: 100%;
}

.bg {
    z-index: -1;
    filter: blur(5px) grayscale(10%);
    position: fixed;
    left: 0;
    right: 0;
    background-color: #242424;
    background-position: center;
    background-size: cover;
    height: 100%;
}


.general-info {
    position: relative;
    grid-area: info;
    width: 100%;
    aspect-ratio: 1 / 2;
}

.desc {
    grid-area: desc;
    width: 100%;
    min-width: 50%;
}

.other-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.other-info > div {
    height: 100%;
}

.main-content {
    padding: 0;
}

.movie-subtitle {
    margin: 0;
}

.tag.clickable {
    color: white;
    background-color: #f40612;
    padding: 0.3em 0.6em;
    font-size: 0.8rem;
}

.tag.clickable > a {
    color: inherit
}

.tag.clickable > a:hover {
    color: inherit
}