@media (max-width: 639px) {
  .search-form {
    margin-bottom: 1rem;
  }
}

.movies-grid {
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  justify-content: center;
  box-sizing: border-box;
  display: grid;
  padding: 1rem;
  width: 100%;
  gap: 1.5rem;
}

.no-movies {
  text-align: center;
  font-size: 1.25rem;
  font-weight: lighter;
}

.error-message {
  font-weight: bold;
}

.filter-container {
  flex-direction: column;
  align-items: center;
  align-self: center;
  display: flex;
  width: 80%;
}