.PageButtons p, .PageButtons button {
    border-radius: 4px;
    padding: 0.3em .6em
}

.PageButtons .btns {
    display: flex;
    justify-content: center;
    column-gap: 0.5em;
    align-items: center;
}

.PageButtons button {
    background-color: #e50914;
    color: white;
}

.PageButtons p {
    border: #1a1a1a 0.5px dashed;
    background-color: #1a1a1a;
    font-weight: 600;
}

.PageButtons form {
    gap: 0.5em;
    display: flex;
    align-items: stretch;
    font-size: 0.8rem;
}

.PageButtons input {
    width: 3rem;
    text-align: end;
}

.PageButtons label {
    align-self: center;
}

.PageButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
}