.search-button:hover, .genre-tag.active {
  background-color: #f40612;
}

.search-form {
  box-sizing: border-box;
  margin: 0 auto 0.5rem;
  max-width: 600px;
  display: flex;
  width: 100%;
  gap: 1rem;
}
 
.search-input {
  background-color: #333;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  color: white;
  border: none;
  width: 100%;
  flex: 1;
}

.search-input:focus {
  box-shadow: 0 0 0 2px #666;
  outline: none;
}

.search-button {
  transition: background-color 0.2s;
  background-color: #e50914;
  padding: 0.75rem 1.5rem;
  white-space: nowrap;
  border-radius: 4px;
  font-weight: 500;
  color: white;
}